body{
	background-image: url("images/background.png");
}
.jumbotron {
	margin-top:20px;
	background-color:#ffffff;
	border: solid thin #7CB900 !important;
	background-image: url("images/billboard1.png");
	background-repeat: no-repeat;
	color:#fb43a5;
}
.panel-heading {
	background-color: #006bc8 !important;
}
.panel-primary {
	border-color: #006bc8 !important;
}
.text-center {
	color:#ffffff;
}
.btn-primary {
	background-color:#2babe2;
	border:none;
}
